main{
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    width: 420px;
    margin-top: 50px ;
    
}.player{
    width: 20px;
    height: 20px;
    border: none;
    background-color:green
}
.parede{
    width: 20px;
    height: 20px;
    background-color: black;
    border: none;
    
}
.buraco{
    width: 20px;
    height: 20px;
    border: none;
    color: white;
}

.comeco{
    width: 20px;
    height: 20px;
    border: none;
    background-color: red;
}
.fim{
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgb(48, 143, 180);
}